:host {
  display: block;
}

section {
  background: white;

  padding: 28px;

  border: 1px solid #dfe3e6;
  border-radius: 6px;
}

section h2 {
  margin-bottom: 20px;
}

table {
  margin-top: 18px;
}

button {
  margin-top: 18px;
}

p {
  margin: 10px 0;
}